window.Paths = Object.freeze({
    {{#paths}}
    '{{{name}}}':'{{{url}}}',
    {{/paths}}
});
window.UserInfo = Object.freeze({email:'{{{email}}}'});
window.Flash = Object.freeze({{{flash}}});
window.HasPty = {{{hasPty}}};
window.LodableComponents = [{{#lodableComponents}}'{{{.}}}',{{/lodableComponents}}];
window.EntitiesFactory = function(mixins, debounce) {
    return [
{{#components}}
Object.assign({
    name:'{{{name}}}',
    icon:'{{{icon}}}',
    order:{{{order}}},
    mixins:mixins,
    data:function(){return{
        draggableOptions:Object.freeze({disabled:!{{{sortable}}},draggable:'.rg-draggable',ghostClass:'rg-drag-ghost',animation:0}),
        values:[],
        {{#remote}}
        {{{c}}}_{{{method}}}_data:[],
        {{/remote}}
        inited:false
    }},
    beforeCreate:function(){this.endPoint='{{{endPoint}}}';this.hooks=Object.freeze({{{hooks}}});this.can=Object.freeze({{{can}}});this.rtti=Object.freeze({{{rtti}}});},
    methods:{
        {{#remote}}
        'call_{{{c}}}_{{{method}}}':debounce(function(){
            var self = this;
            this.$rpc.remote('{{{c}}}').{{{method}}}.apply(this.$rpc,arguments).then(function(data){
                self.{{{c}}}_{{{method}}}_data=data;
            });
        }, 500),
        {{/remote}}
    }
}, {{{render}}}),
{{/components}}
    ]
};