@import '~codemirror/lib/codemirror.css';
$pad: 8px;

.CodeMirror pre
{
    padding: 0 $pad 0 0;
}

.CodeMirror pre > *
{
    text-indent: 0;
}

.show-line-padding .CodeMirror pre
{
    padding-left: 0;
}

.CodeMirror
{
    font-family: Consolas, monaco, monospace;
    font-size: 13px;
    line-height: 18px;

    box-sizing: border-box;
    width: 100%;
    height: auto;

    color: #535353;
    border: 1px solid #dcdfe6;
}
.CodeMirror .syntax-error
{
    position: relative;
}
.CodeMirror .syntax-error:before
{
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;

    display: block;

    height: 3px;

    content: '';

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADAQMAAACOOjyFAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURUdwTP8AACGysLwAAAABdFJOUwBA5thmAAAADklEQVR4AWNQYAhgaAAAAhYA8dZvxXkAAAAASUVORK5CYII=);
    background-repeat: repeat-x;
}
.CodeMirror .lint-error
{
    font-size: .8em;

    overflow: hidden;

    color: #949494;
}
.CodeMirror .lint-error::selection
{
    background: #abdffa;
}
.dark .CodeMirror
{
    color: #ccc;
}

.CodeMirror-activeline-background
{
    background: transparent;
}

.CodeMirror-focused .CodeMirror-activeline-background
{
    background: #ebefef;
}

.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background
{
    box-shadow: inset $pad 0 0 0 #dee5e6;
}

.CodeMirror-focused .CodeMirror-activeline > div,
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt
{
    height: 100%;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt
{
    color: #000;
    background: #dee5e6;
    ;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt
{
    color: #949494;
}

.CodeMirror-focused .cm-matchhighlight
{
    border-bottom: 2px solid #78b2f2;
}

span.cm-keyword
{
    color: #446fbd;
}

span.cm-atom
{
    color: #e88501;
}

span.cm-number
{
    color: #6d8600;
}

span.cm-def
{
    color: #8757ad;
}

span.cm-variable
{
    color: #535353;
}

span.cm-variable-2
{
    color: #535353;
}

span.cm-variable-3
{
    color: #535353;
}

span.cm-operator
{
    color: #535353;
}

span.cm-comment
{
    color: #949494;
}

span.cm-string
{
    color: #e88501;
}

span.cm-string-2
{
    color: #e88501;
}

span.cm-meta
{
    color: #535353;
}

span.cm-qualifier
{
    color: #446fbd;
}

span.cm-builtin
{
    color: #446fbd;
}

span.cm-bracket
{
    color: #222;
}

span.cm-tag
{
    color: #446fbd;
}

span.cm-attribute
{
    color: #6d8600;
}

span.cm-header
{
    color: #d33682;
}

span.cm-quote
{
    color: #446fbd;
}

span.cm-hr
{
    color: #e88501;
}

span.cm-link
{
    text-decoration: none;

    color: #8757ad;
    ;
}

span.cm-rangeinfo
{
    color: #6c71c4;
}

span.cm-minus
{
    color: #dc322f;
}

span.cm-plus
{
    color: #859900;
}

span.cm-property
{
    color: #8757ad;
}

span.cm-error
{
    color: #dc322f;
}

span.CodeMirror-matchingbracket
{
    color: #222 !important;
    background-color: #cfead6;
}

span.CodeMirror-nonmatchingbracket
{
    color: #222;
}

div.CodeMirror-cursors
{
    z-index: 3;
}

div.CodeMirror-cursors .CodeMirror-cursor
{
    border-left: 1px solid black;
}

.CodeMirror-lines
{
    padding: $pad 0 $pad $pad;

    pointer-events: none;
}

.CodeMirror-linewidget
{
    pointer-events: auto;
}

.CodeMirror-gutters
{
    border-right: none;
    background-color: #f8f8f8;
    ;
}

.CodeMirror-linenumber
{
    min-width: 2.5em;
    padding: 0 $pad 0 $pad;

    color: #949494;
    ;
}

.CodeMirror .CodeMirror-selected
{
    background: #d5dee3;
}

.CodeMirror-focused .CodeMirror-selected
{
    background: #abdffa;
}

.CodeMirror .CodeMirror-overwrite .CodeMirror-cursor
{
    width: 1.2ex;

    border-bottom: 1px solid black;
    border-left: none !important;
    ;
}

.CodeMirror .CodeMirror
{
    background: transparent;
}

.CodeMirror .CodeMirror span.CodeMirror-matchingbracket
{
    color: #222 !important;
    /*background-color: #cfead6;*/
    ;
}

.CodeMirror .CodeMirror .CodeMirror-cursors
{
    visibility: hidden;
}

.CodeMirror .CodeMirror.CodeMirror-focused .CodeMirror-cursors
{
    visibility: visible;
}

.CodeMirror .CodeMirror .CodeMirror-selected
{
    background: #d5dee3;
}

.CodeMirror .CodeMirror.CodeMirror-focused .CodeMirror-selected
{
    background: #abdffa;
}

.CodeMirror .CodeMirror .CodeMirror-gutters
{
    border-right: none;
    background: transparent;
    ;
}

.CodeMirror .CodeMirror-scroll
{
    outline: none;
}

.CodeMirror .CodeMirror-sizer
{
    cursor: text;
}

.CodeMirror .CodeMirror .CodeMirror-vscrollbar,
.CodeMirror .CodeMirror .CodeMirror-hscrollbar
{
    cursor: default;
}

.CodeMirror .CodeMirror .CodeMirror-activeline-background
{
    background: transparent;
}

.show-line-padding .CodeMirror .CodeMirror .CodeMirror-activeline-background
{
    box-shadow: none;
}

.CodeMirror .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt
{
    color: #949494;
    background: transparent;
    ;
}

.CodeMirror .CodeMirror-focused .CodeMirror-activeline-background
{
    background: #ebefef;
}

.show-line-padding .CodeMirror .CodeMirror-focused .CodeMirror-activeline-background
{
    box-shadow: inset $pad 0 0 0 #f8f8f8;
}

.CodeMirror .CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt
{
    color: #000;
    background: #d7dede;
    ;
}

.CodeMirror .CodeMirror-matchingtag
{
    background: #cfead6;
}
