<template>
    <div v-loading="loading" :style="{'pointer-events': (loading ? 'none' : 'auto')}" class="rg-data_single">
        <p>
            <a :href="contestUrl" download target="_blank">Скачать конкурсный список</a>
        </p>
        <p>
            <b>Внимание</b><br>
            Рассылка может занять длительный период.<br>
            Невозможно оповестить более 30 пользователей в секунду.<br>
            Оповещения придут лишь пользователям, которые не подписаны на все требуемые каналы/группы.<br>
            После начала рассылки новые подписки и отписки пользователей, а также изменение списка чатов, требуемых для участия, не будут учтены.
        </p>
        <p>
            Сообщений в очереди на рассылку: {{queueSize}}
        </p>
        <p>
            <el-button @click="cancelBrodcast" type="primary">Отменить текущую рассылку, если таковая имеется</el-button>
        </p>
        <p>
            <el-button @click="brodcast" type="primary">Начать рассылку о смене состава каналов/групп</el-button>
        </p>
    </div>
</template>
<script lang="ts" src="./actions.ts">