.el-select
{
    display: block;
}

.el-input
{
     > input
    {
        transition: 0s;

        border-radius: 0;
    }

    &-number__decrease,
    &-number__increase
    {
        border-radius: 0 !important;
    }
}

.el-notification
{
    width: auto;
    max-width: 600px;

    border-radius: 3px;
    &__content
    {
        white-space: pre-wrap;
    }
}

.el-button,
.el-checkbox
{
    font-weight: 400;
}