$blue: #b3c3ca;
$ligth-blue: hsla(200, 16%, 98%, 1);
$eColor: red;
$ligth-dark: #2d363f;
$dark: #212529;
$border-color: #dcdfe6;
$font-name: Ubuntu,Segoe UI,Optima,Trebuchet MS,-apple-system,BlinkMacSystemFont,sans-serif;
